/* #F38181 - background
 #FCE38A #EAFFD0 #95E1D3*/

 /* #4D606E - background
#3FBAC2 BLUE #D3D4D8 GRAY #F5F5F5 WHITE
 */


html{
  background-color: #4D606E;
  width: 100%;
  padding: 0 0;
}
body{
  margin: 0 0;
}

.center{
  text-align: center;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  color: #F5F5F5;
  opacity: 110%;
  margin-top: .67em;
  padding: 0 20px 0 20px;
}

#subtitle{
  font-family: 'Raleway', sans-serif;
  color: #D3D4D8;
  font-size: 70px;
  padding: 0 0;
  margin: 0 0;
}

#bio{
  font-family: 'Sanchez',serif;
  color: #F5F5F5;
  font-size: 35px;
}

.textContainer{
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 50px;
}


.description{
  font-family: 'Sanchez', sans-serif;
  color: #F5F5F5;
  font-size: 32px;
  MARGIN-top: 0;
  padding: 0px 35px 55px 35px;
}



#scrollContainer{
  text-align: right;
  position: fixed;
  right: 0px;
  top: 140px;
  width: 170px;
  font-size: 25px;
  font-family: 'Sanchez',sans-serif;
  border: 3px dashed #D3D4D8;
  border-right: 0px;
  visibility: hidden;
}

@media screen and (min-width: 73em){
  #scrollContainer{
    visibility: visible;
  }
}
.scrollBox{
  padding: 5px 20px 5px;
  cursor: pointer;
  cursor: hand;
}

.scrollBox:nth-child(even){
  background-color: #F5F5F5;
  color: #4D606E;
}

.scrollBox:nth-child(odd){
  background-color:#4D606E;
  color: #F5F5F5;
}

.backgroundP{
  padding-top: .67em;

  /*border: 3px dashed white;*/

}

.backgroundP:nth-child(even){
  background-color:#F5F5F5;
}

.backgroundP:nth-child(even) h1{
  color: #4D606E;
}

a{
  text-decoration: none;
  color: #F5F5F5;
}

#backImg{
  width: 125px;
  height: 125px;
  margin: auto;
  display: block;
  padding-bottom: 20px;
}
