/* #F38181 - background
 #FCE38A #EAFFD0 #95E1D3*/

.flexContain {
  margin-top: -50px;
  display: flex;
  flex-direction: row;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  position: relative;
  padding-bottom: 55px;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-family: 'Sanchez';
  color: white;
  text-align: center;
  position: relative;
  border: 3px dashed white;
  cursor: pointer;
  cursor: hand;
}

.circleT {
  position: relative;
  top: 40%;
  width: 100%;
}

.sideScrollParent {
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.sideScrollChild {
  top: 0;
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 500px;
}

.hideOverflow {
  overflow: hidden;
  position: relative;
}

.active {
  visibility: visible;
}

html,
body {
  overflow-x: hidden;
}
